<!--<section id="barralaterale">
    <h3>Archivio Menu:</h3>
    <nav>
        <ul>
            <li><a href="2022/01">Gennaio 2022</a></li>
            <li><a href="2022/02">Febbraio 2022</a></li>
            <li><a href="2022/03">Marzo 2022</a></li>
            <li><a href="2022/04">Aprile 2022</a></li>
            <li><a href="2022/05">Maggio 2022</a></li>
            <li><a href="2022/06">Giugno 2022</a></li>
            <li><a href="2022/07">Luglio 2022</a></li>
            <li><a href="2022/08">Agosto 2022</a></li>
            <li><a href="2022/09">Settembre 2022</a></li>
            <li><a href="2022/10">Ottobre 2022</a></li>
            <li><a href="2022/11">Novembre 2022</a></li>
            <li><a href="2022/12">Dicembre 2022</a></li>
        </ul>
    </nav>

</section>
-->