<footer id="piedipagina">
   
   
    
    <nav> 
        <ul>
            <li> <a href="index.php">Panoramica</a></li>
            <li> <a href="menu.php">Menu del giorno</a></li>
            
            <li> <a href="adminok.php">Edit Menu</a></li>
            <li><a id="R" href="formregistrazione.php" ></a></li>
            
            <li><a href="ordini.php">Ordini</a></li>
            <li><a href="gestioneOrdini.php">Gestione Ordini</a></li>
        </ul>
        <hr align="center" size="2" width="800" color="gray" noshade>
    </nav>
   

    <p>&copy; Farruggio Industries 2023 tutti i diritti riservati</p>
</footer>
<script src="./app.js"></script>