
<header id="intestazione">
    <h1 >Ristorante Farruggio</h1>
    <nav> 
        
        <ul>
            <li> <a href="index.php">Panoramica</a></li>
            <li> <a href="menu.php">Menu del giorno</a></li>
            
            <li> <a href="adminok.php">Edit Menu</a></li>
            <li><a id="R" href="formregistrazione.php" ></a></li>
            
            <li><a href="ordini.php">Ordini</a></li>
            <li><a href="gestioneOrdini.php">Gestione Ordini</a></li>
        </ul>
    </nav>
    </header>
    <nav id="scrittaLogin" class="invisibile">
       ti sei autenticato con successo
    </nav>