<!--

<section id="misura">
    <header>
    <h3>Persone che hanno apprezzato il nostro ristorante</h3>
    </header>
    <meter title="Clienti" id="votocliente" value="4" min="0" max="5">350 persone</meter>
    <p>vota anche tu raggiungiamo 1000 persone!</p>
    <form method="post" action="">
   
        <label for="stelleristorante">Vota il nostro ristorante da 1 a 5 stelle</label><br>
        <input type="range" min="0" max="5" value="0" name="stelleristorante" id="stelleristorante">
<br>
        <label for="stellesito">Vota la tua esperienza sul nostro sito da 1 a 5 stelle</label><br>
        <input type="range" min="0" max="5" value="0" name="stellesito" id="stellesito">
   <br><br>
    <input type="submit" value="Invia">
 
</form>
    </section>
-->