body {
    width: auto;
    margin: 18px auto;
    font-family: 'San Francisco', Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header#intestazione {
    width: 100%;
    text-align: center;
    background-color: #397fbb;
    padding: 10px 0;
}

header#intestazione h1 {
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
    background-color: #397fbb;
}

header#intestazione nav ul, #piedipagina nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header#intestazione nav ul li {
    display: inline;
    margin: 0 10px;
}

header#intestazione nav {
    background: #397fbb;
    padding: 10px;
}

header#intestazione a {
    color: white;
    text-decoration: none;
    background-color: #5a8ed1;
    padding: 10px;
    margin: 0;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

header#intestazione a:hover {
    background-color: #2b5f8e;
}

section#post, section#barralaterale, section#misura {
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    color: #333;
    box-sizing: border-box;
}

footer#piedipagina {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #397fbb;
}

footer#piedipagina nav ul {
    padding: 0;
    margin: 0;
    
}

footer#piedipagina nav ul li {
    display: block;
    margin: 10px 0;
    
}

footer#piedipagina a {
    color: #333;
    text-decoration: none;
    background: #f2f2f2;
    
    display: block;
    text-align: center;
}

footer#piedipagina a:hover {
    background-color: #cbd0d4;
}

fieldset.info_personali ol {
    background-color: #f2f2f2;
    list-style: none;
    padding: 0;
}

fieldset.info_personali {
    padding: 5px;
    background-color: #f2f2f2;
}

legend {
    background-color: #f2f2f2;
    padding: 10px;
}

.login {
    animation-name: successo_login;
    animation-duration: 1500ms;
    background-color: #5ebb39;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisibile {
    opacity: 0;
    visibility: hidden;
}

@keyframes successo_login {
    0% {
        height: 0px;
    }
    100% {
        height: 15px;
    }
}

.scrolling-section {
    width: 100%;
    max-width: 300px;
    height: 60px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 0 auto;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

@media (min-width: 600px) {
    section#post {
        width: 65%;
        float: left;
    }
    
    section#barralaterale {
        width: 15%;
        float: left;
    }
    
    section#misura {
        width: 15%;
        float: left;
    }

    footer#piedipagina nav ul {
        display: flex;
        justify-content: center;
    }

    footer#piedipagina nav ul li {
        margin: 0 10px;
    }

    footer#piedipagina a {
        display: inline-block;
        padding: 5px 10px;
    }
}

#prodotti {
    margin: 20px 0;
    padding: 10px;
    font-size: 2.2em;
    color: #333;
    text-align: center;
}

#carrello-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

#carrello {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#carrello th, #carrello td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}






h1 {
    text-align: center;
}




footer#piedipagina {
    position:fixed; /* Modifica da sticky a fixed */
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #397fbb;
}
section#post{

    padding-bottom: 200px;;
}body {
    padding-bottom: 500px; /* Aggiunge uno spazio vuoto di 100px alla fine del body */
    margin: 0; /* Resetta il margine del body per evitare spazi aggiuntivi */
}

th{
    text-align: center;
}

footer#piedipagina nav ul li{
    width: 49%;
  float:left;
}